body {
    opacity: 0;
    transform: scale(0.98);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    font-family: "Permanent Marker", cursive;

    background-image:
            radial-gradient(circle at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 100%),
            url("/images/index_bg.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
    margin: 0;
    color: white;
}

body.page-loaded {
    opacity: 1;
    transform: scale(1);
}

#title {
    width: 60%;
    margin: 5vh auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title h1, #title h3 {
    margin: 5px 0;
}

#restaurant-grid {
    display: block;
    column-count: 2;
    column-gap: 60px;
    margin: 6vh auto;
    width: 80%;
    text-align: center;
    column-fill: balance;
}
@media (max-width: 768px) {
    #restaurant-grid {
        column-count: 1;
    }
}

.restaurant-category {
    display: inline-block;
    width: 100%;
    break-inside: avoid;
    margin-bottom: 40px;
    vertical-align: top;
}

.restaurant-category:first-child,
.restaurant-category:nth-child(2) {
    margin-top: 0;
}

.restaurant-category h2 {
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu-block {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    padding: 8px 10px;
    margin-bottom: 5px;
    border-radius: 6px;

    /* stupid border in animation fix */
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: transform;
    border: 1px solid transparent;
    
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.menu-block:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: scale(1.02);
    cursor: pointer;
}

.menu-block .name {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: lowercase;
    white-space: nowrap;
}

.menu-block .dots {
    flex-grow: 1;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.6);
    margin: 0 12px;
    position: relative;
    top: -5px;
}

.menu-block .country {
    font-size: 1.4rem;
    text-transform: lowercase;
    opacity: 0.9;
    white-space: nowrap;
}